
<div class="test-grid">

  <label style="grid-column: 1">Sentence 7 Test:</label>
  <input
  type="checkbox"
  style="grid-column: 2"
  [(ngModel)]="isSentences"
  [ngModelOptions]="{standalone: true}"/>

  <label style="grid-column: 1">Lesson Number:</label>
  <input class="form-control number-input"
         style="grid-column: 2"
         type="number"  min="1" max="100"
         data-testid="lesson-number"
         [(ngModel)]="lessonNumber" (ngModelChange)="handleLessonNumberChanged($event)">

  <label>Sentence Number:</label>
  <input class="form-control number-input w-fit "
         type="number"  min="0" max="40"
         [(ngModel)]="sentenceNumber"
         (ngModelChange)="handleSentenceNumberChanged($event)" >

  <label>English text:</label>
  <div>
    {{englishText}}
  </div>

  <label>Hints</label>
  <div class="flex flex-row">
    <button class="btn-hint" (click)="handleShowStructure()">Structure</button>
    <button class="btn-hint" (click)="handleShowAnswer()">Answer</button>
  </div>

  <label *ngIf="showStructure">Hint Structure</label>
  <div *ngIf="showStructure" class="font-mono">{{hintStructure}}</div>
  <label *ngIf="showAnswer">Hint Answer</label>
  <div *ngIf="showAnswer" class="font-mono">{{spanishText}}</div>

  <label>Current Score:</label>
  <div>
    {{scoreText}}
  </div>

  <label>Spanish attempt:</label>
  <div>
    <input
      style="grid-column: 2"
      autofocus
      class="form-control spanish-input font-mono"
      data-testid="spanish-attempt"
      [ngModel]="spanishAttempt" (ngModelChange)="handleSpanishInputChange($event)"
      (keydown.enter)='finishSpanishAttempt()'
    >
  </div>

  <label>Last Score:</label>
  <div >{{lastScore}}</div>
  <label>Diff:</label>
  <div data-testid="diff" [innerHTML]="prettyHtml"></div>
  <label>Last Attempt:</label>
  <div class="font-mont">{{lastAttempt}}</div>
  <label>Last Answer:</label>
  <div class="font-mont">{{lastAnswer}}</div>

</div>
