

<div class="flex flex-col h-screen">
  <a class="flex-auto
    flex-grow-0" [routerLink]="[ '/', 'trans-test' ]">Translation Test</a>

  <input class="flex-auto
    flex-grow-0 flex-shrink-0"

         id="preview" type="file" (change)="loadFile($event)" />
  <button (click)="storeInIndexDb(false)" class="
    btn btn-blue
    flex-auto
    flex-grow-0
    ">Store Lessons Indexdb</button>

  <button (click)="storeInIndexDb(true)" class="
    btn btn-blue
    flex-auto
    flex-grow-0
    ">Store Sentences Indexdb</button>

  <pre class="
    font-mono
    max-h-96
    overflow-y-auto
  ">{{fullText}}
  </pre>

  <pre class="
    font-mono
    max-h-96
    overflow-y-auto
  ">{{logText}}
  </pre>
</div>
