a {
   @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}

.wrapper {
  display: block;
  width: auto;
  margin: 4px;
}

.box {

    display: flex;
    flex-direction: row;

    overflow-x: scroll;

    column-gap: 0.5rem;
    
}

.contents {
  display: block;
  width: auto;
}


.drop-down-links a {
  display: block;
  margin-left: 5px;
}