<div class="wrapper">
  <div class="box">

    <!--

    <a
      [routerLink]="[ '/', 'data-load' ]">Data Loading</a>
    <a [routerLink]="[ '/', 'trans-test' ]">Translation Test</a>
    -->
    <a [routerLink]="[ '/' ]">Root</a>
    <a [routerLink]="['/', 'tarea']" [queryParams]="{json: '/assets/lessons/por_para.json'}">Por y Para</a>
    <a [routerLink]="['/', 'tarea']" [queryParams]="{json: '/assets/lessons/por_para_2.json'}">Por y Para 2</a>
    <a [routerLink]="['/', 'tarea']" [queryParams]="{json: '/assets/lessons/pasado_imp_ind.json'}">Pasado</a>
    <a [routerLink]="['/', 'tarea']" [queryParams]="{json: '/assets/lessons/pasado_esp_pajaros.json'}">Pasado Espantapájaros</a>
    <a [routerLink]="['/', 'tarea']" [queryParams]="{json: '/assets/lessons/imperfecto_indefinido.json'}">Imperfecto o indefinido</a>
    <a [routerLink]="['/', 'tarea']" [queryParams]="{json: '/assets/lessons/imperfecto_indefinido_2.json'}">Imperfecto o indefinido 2</a>
    <a [routerLink]="['/', 'tarea']" [queryParams]="{json: '/assets/lessons/imp_egipcios.json'}">Imperfecto</a>
    <a [routerLink]="['/', 'tarea']" [queryParams]="{json: '/assets/lessons/imp_ind_3.json'}">Imperfecto o indefinido 3</a>
  </div>

  <div class="contents">
    <router-outlet></router-outlet>
  </div>
</div>
